body {
	margin: 0; padding: 0;
}

header {
	width:100%; background-color:pink; height:120px;
}

header div span {
	font-size: 3em;
}

.container {
	width: 100%; margin:0 auto;
}

#logo {
	float:left; margin:10px auto; width:200px; height:100px; margin-right:10px;
}

.flexContainer{
	display:flex;
	flex-direction: column;
}

#menu{
	padding:0;
	background-color:peachpuff;
	display: flex;
	flex-direction: column;
	font-size: 1.5em; 
}

#menu li{
	list-style-type: none;
}

h2 {
	text-align: center;
}

#sok {
	background-color:lavenderblush;
	order:0;
}

#table {
	order: 2;
}

#form {
	order: 1;
}

table {
	border-collapse: collapse; margin:10px auto; width: 100%; padding: 10px;
}

table tr,th{
	border: 2px solid black; background-color: lemonchiffon; text-align: center;
}

table td{
	border: 2px solid black;
}

table th{
    padding: 19px;
}

table tr:nth-child(odd){
    background-color: aquamarine;
}

table tr:nth-child(even){
    background-color: violet;
}

footer{
	margin-top:10px;
    background-color: pink;
    border-top: 1px solid black ;
}

footer span {
    font-size: 2em;
}

@media screen and (orientation: landscape) and (min-width: 480px) {
	.container{
        width: 960px;
	}
	table {
		width:960px;
	}
	#menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
	#sok {
		order: 0;
	}
	#table {
		order: 1;
	}
	
	#form {
		order: 2;
	}
}